.event-slide-item {
  position: relative;
  width: 300.5px;
}

.event-slide-item a {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 13px;
}

.event-slide-item a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.05);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03));
}

.event-slide-item a img {
  width: 100%;
}

.event-slide-prev {
  position: absolute;
  top: 50%;
  left: 0px;

  width: 50px;
  height: 50px;
  border: 1px solid #e5e1e5;
  /* 그림자 */
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.13);
  z-index: 2;

  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transform: translateX(-50%) translateY(-50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.event-slide-prev::before {
  content: "";
  position: relative;
  width: 10px;
  height: 18px;
  display: block;
  margin: 0 auto;
  background: url("../images/slider_arrow.svg") no-repeat center;

  transform: rotateY(180deg);
}

.event-slide-next {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 50px;
  height: 50px;
  border: 1px solid #e5e1e5;
  /* 그림자 */
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.13);
  z-index: 2;

  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transform: translate(50%, -50%);
  border-radius: 50%;
}

.event-slide-next::before {
  content: "";
  position: relative;
  width: 10px;
  height: 18px;
  display: block;
  margin: 0 auto;
  background: url("../images/slider_arrow.svg") no-repeat center;
}
